<script src="<%- config.root %>js/jquery.imagesloaded.min.js"></script>
<script src="<%- config.root %>js/gallery.js"></script>
<script src="<%- config.root%>js/prettify/prettify.js"></script>
<script src="<%- config.root%>js/prettify/prettify.js"></script>

<script type="text/javascript">
$(document).ready(function(){

  $('pre').addClass('prettyprint '); //添加Google code Hight需要的class
  prettyPrint();

  $('.navbar').click(function(){
    $('header nav').toggleClass('shownav');
  });
  var myWidth = 0;
  function getSize(){
    if( typeof( window.innerWidth ) == 'number' ) {
      myWidth = window.innerWidth;
    } else if( document.documentElement && document.documentElement.clientWidth) {
      myWidth = document.documentElement.clientWidth;
    };
  };
  var m = $('#main'),
      a = $('#asidepart'),
      c = $('.closeaside'),
      o = $('.openaside');
  c.click(function(){
    a.addClass('fadeOut').css('display', 'none');
    o.css('display', 'block').addClass('fadeIn');
    m.addClass('moveMain');
  });
  o.click(function(){
    o.css('display', 'none').removeClass('beforeFadeIn');
    a.css('display', 'block').removeClass('fadeOut').addClass('fadeIn');
    m.removeClass('moveMain');
  });
  $(window).scroll(function(){
    o.css("top",Math.max(20,260-$(this).scrollTop()));
  });
  <% if (is_post() && theme.close_aside) { %>
        getSize();
        if (myWidth >= 1024) {
          c.click();
        }
  <% } %>
  $(window).resize(function(){
    getSize();
    if (myWidth >= 1024) {
      $('header nav').removeClass('shownav');
    }else{
      m.removeClass('moveMain');
      a.css('display', 'block').removeClass('fadeOut');
      o.css('display', 'none');
      <% if( is_post()&&(page.toc !== false) && theme.toc.aside){ %>
      $('#toc.toc-aside').css('display', 'none');
      <% } %>
    }
  });
});
</script>
<% if (is_post()) { %>
<script type="text/javascript">
$(document).ready(function(){
  var ai = $('.article-content>iframe'),
      ae = $('.article-content>embed'),
      t  = $('#toc'),
      ta = $('#toc.toc-aside'),
      o  = $('.openaside'),
      c  = $('.closeaside');
  if(ai.length>0){
    ai.wrap('<div class="video-container" />');
  };
  if(ae.length>0){
   ae.wrap('<div class="video-container" />');
  };
  c.click(function(){
    ta.css('display', 'block').addClass('fadeIn');
  });
  o.click(function(){
    ta.css('display', 'none');
  });
  $(window).scroll(function(){
    ta.css("top",Math.max(80,320-$(this).scrollTop()));
  });
});
</script>
<% } %>
<% if ((page.layout=='post'||page.layout=='page'||page.layout=='photo')&&!theme.jiathis.enable) { %>
<script type="text/javascript">
$(document).ready(function(){
  var $this = $('.share'),
      url = $this.attr('data-url'),
      encodedUrl = encodeURIComponent(url),
      title = $this.attr('data-title'),
      tsina = $this.attr('data-tsina'),
      description = $this.attr('description');
  var html = [
  '<a href="#" class="overlay" id="qrcode"></a>',
  '<div class="qrcode clearfix"><span>扫描二维码分享到微信朋友圈</span><a class="qrclose" href="#nothing"></a><strong>Loading...Please wait</strong><img id="qrcode-pic" data-src="http://s.jiathis.com/qrcode.php?url=' + encodedUrl + '"/></div>',
  '<a href="#imglogo" class="article-back-to-top" title="Top"></a>',
  '<a href="#qrcode" class="article-share-qrcode" title="微信"></a>',
  '<a href="http://widget.renren.com/dialog/share?resourceUrl=' + encodedUrl + '&srcUrl=' + encodedUrl + '&title=' + title +'" class="article-share-renren" target="_blank" title="人人"></a>',
  '<a href="http://service.weibo.com/share/share.php?title='+title+'&url='+encodedUrl +'&ralateUid='+ tsina +'&searchPic=true&style=number' +'" class="article-share-weibo" target="_blank" title="微博"></a>',
  '<span title="Share to"></span>'
  ].join('');
  $this.append(html);
  $('.article-share-qrcode').click(function(){
    var imgSrc = $('#qrcode-pic').attr('data-src');
    $('#qrcode-pic').attr('src', imgSrc);
    $('#qrcode-pic').load(function(){
        $('.qrcode strong').text(' ');
    });
  });
});
</script>
<% } %>

<% if (theme.duoshuo_shortname){ %>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"<%= theme.duoshuo_shortname %>"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname)) { %>
<script type="text/javascript">
<% if(config.disqus_shortname){ %>
var disqus_shortname = '<%= config.disqus_shortname %>';
<% }else{ %>
var disqus_shortname = '<%= theme.disqus_shortname %>';
<% } %>
// (function(){
//   var dsq = document.createElement('script');
//   dsq.type = 'text/javascript';
//   dsq.async = true;
//   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
//   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
// }());

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();


// (function(){
//   var dsq = document.createElement('script');
//   dsq.type = 'text/javascript';
//   dsq.async = true;
//   dsq.src = '//' + disqus_shortname + '.disqus.com/count.js';
//   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
// }());
</script>
<% } %>



<% if (page.layout=='tags'||page.layout=='categories'){ %>
<script type="text/javascript">
$(document).ready(function(){
  var list    = $('.archive-title a'),
      box     = $('.all-list-box'),
      first   = $('.archive-title a:first-of-type');
      box.load(first.attr('data-src').toString()+' #archive-page');
      first.addClass('current');
  list.each(function(){
    $(this).click(function(){
      var listSrc=$(this).attr('data-src').toString()+' #archive-page';
      box.load(listSrc);
      list.removeClass('current');
      $(this).addClass('current');
     });
    });
  });
</script>
<% } %>
<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.article-content').each(function(i){
    $(this).find('img').each(function(){
      if ($(this).parent().hasClass('fancybox')) return;
      var alt = this.alt;
      if (alt) $(this).after('<span class="caption">' + alt + '</span>');
      $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox"></a>');
    });
    $(this).find('.fancybox').each(function(){
      $(this).attr('rel', 'article' + i);
    });
  });
  if($.fancybox){
    $('.fancybox').fancybox();
  }
});
</script>
<% } %>

<% if ((page.layout=='post'||page.layout=='page'||page.layout=='photo')&&config.d3.enable) { %>

 <!--<script>
  $(document).ready(function($) {
    $('[data-toggle="popover"]').popover();
    var width = 700, height = 520, format = d3.format(",d");
    var color = d3.scale.category20();

    var force = d3.layout.force()
        .charge(-1500)
        .linkDistance(80)
        // .alpha(0)
        .size([width, height-160]);

    var svg = d3.select(".article-content").append("svg")
        .attr("width", width)
        .attr("height", height);

    d3.json("/miserable.json", function(error, graph) {
      if (error) throw error;

      var root = graph.nodes[0];
      root.fixed = true;
      // $.each(graph.nodes, function(i, item) {
      //   item.fixed = true;
      // });
      // root.fixed = true;

      force
          .nodes(graph.nodes)
          .links(graph.links)
          .start();

      var link = svg.selectAll(".link")
          .data(graph.links)
        .enter().append("line")
          .attr("class", "link")
          // .attr("x1", function(d) { return 350 + Math.sin((2*Math.PI / 360) * d.source.radi) * 100; })
          // .attr("y1", function(d) { return 260 - Math.cos((2*Math.PI / 360) * d.source.radi) * 100 ; })
          // .attr("x2", function(d) { return 350 + Math.sin((2*Math.PI / 360) * d.target.radi) * 100; })
          // .attr("y2", function(d) { return 260 - Math.cos((2*Math.PI / 360) * d.target.radi) * 100 ; })
          .style("stroke-width", function(d) { return Math.sqrt(d.value); })
          .style("stroke", function(d) { return color(d.group); });
      // var orx, ory;
      // var drag = force.drag()
      //                 .on("dragstart", function(d, i) {
      //                   orx = d.x;
      //                   ory = d.y;
      //                   console.log(orx);
      //                 })
      //                 .on("dragend", function(d, i) {
      //                   console.log(i + "__拖拽结束");
      //                   // console.log(d);
      //                   d3.select(this).select("circle")
      //                                 .attr("cx", orx)
      //                                 .attr("cy", ory);
      //                 });

      var node = svg.selectAll(".node")
          .data(graph.nodes)
        .enter().append("g")
        .on("mouseenter", function(d) {
            d3.select(this).select("circle").transition()
                                          .duration(400)
                                          .attr("r", d.r+5);
            $(this).find("circle").popover('show');
        })
        .on("mouseleave", function(d) {
            d3.select(this).select("circle").transition()
                                          .duration(400)
                                          .attr("r", d.r);
            $(this).find("circle").popover('hide');
        })
        .call(force.drag)
        .attr("class", "node");

        var hudu = (2*Math.PI / 360) * 30;

  //      var X = a + Math.sin(hudu) * r;
        node.append("circle")
            .attr("r", function(d){ return d.r; })
            // .attr("cx", function(d){ return 350 + Math.sin((2*Math.PI / 360) * d.radi) * 100; })
            // .attr("cy", function(d){ return 260 - Math.cos((2*Math.PI / 360) * d.radi) * 100 ; })
            .style("fill", function(d) { return color(d.group); })
            .attr("data-toggle", "popover")
            .attr("data-content", function(d) {
              return d.name;
            })
            .attr("data-container", "body");

        node.append("text")
            // .attr("x", function(d){ return 350 + Math.sin((2*Math.PI / 360) * d.radi) * 100; })
            // .attr("y", function(d){ return 260 - Math.cos((2*Math.PI / 360) * d.radi) * 100 ;})
            .style("text-anchor", "middle")
            .text(function(d) {
              return d.name;
            })
            .attr("dy", ".3em");

      var dashline = svg.append("line")
                      .attr("x1", 450)
                      .attr("y1", 260)
                      .attr("x2", 700)
                      .attr("y2", 260)
                      .style("stroke-dasharray", 4)
                      .attr("stroke-width", 2)
                      .attr("stroke", color(1));

      force.on("tick", function(d) {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.selectAll("circle").attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        node.selectAll("text").attr("x", function(d){ return d.x; })
                            .attr("y", function(d){ return d.y; })
                            .style("text-anchor", "middle")
                            .attr("dy", ".3em");
      });

    });

   });

 </script>
-->

<!-- <script>
    $('[data-toggle="popover"]').popover();
    var w = 800,
        h = 800,
        node,
        link,
        root;
    var color1 = d3.scale.category20();

    var force = d3.layout.force()
        .on("tick", tick)
        .charge(function(d) { return d._children ? -d.size / 100 : -30; })
        .linkDistance(function(d) { return d.target._children ? 80 : 30; })
        .size([w, h - 160]);

    var vis = d3.select(".article-content").append("svg:svg")
        .attr("width", w)
        .attr("height", h);

    d3.json("/flare.json", function(json) {
      root = json;
      root.fixed = true;
      root.x = w / 2;
      root.y = h / 2 - 80;
      update();
    });

    function update() {
      var nodes = flatten(root),
          links = d3.layout.tree().links(nodes);

      // Restart the force layout.
      force
          .nodes(nodes)
          .links(links)
          .start();

      // Update the links…
      link = vis.selectAll("line.link")
          .data(links, function(d) { return d.target.id; });

      // Enter any new links.
      link.enter().insert("svg:line", ".node")
          .attr("class", "link")
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; })
          .attr("stroke", function(d) { return color1(2);});

      // Exit any old links.
      link.exit().remove();

      // Update the nodes…
      node = vis.selectAll("circle.node")
          .data(nodes, function(d) { return d.id; })
          .style("fill", color);

      node.transition()
          .attr("r", function(d) { return d.children ? 4.5 : Math.sqrt(d.size) / 10; });

      // Enter any new nodes.
      node.enter().append("svg:circle")
          .attr("class", "node")
          .attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; })
          .attr("r", function(d) { return d.children ? 4.5 : Math.sqrt(d.size) / 10; })
          .style("fill", color)
          .attr("data-toggle", "popover")
          .attr("data-content", function(d) {
              return d.name;
            })
          .attr("data-container", "body")
          .on("mouseenter", function() {
            $(this).popover('show');
          })
          .on("mouseleave", function() {
            $(this).popover('hide');
          })
        //  .on("click", click)
          .call(force.drag);

      // Exit any old nodes.
      node.exit().remove();
    }

    function tick() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
    }

    // Color leaf nodes orange, and packages white or blue.
    function color(d) {
      return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
    }

    // Toggle children on click.
    function click(d) {
      if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
      update();
    }

    // Returns a list of all nodes under the root.
    function flatten(root) {
      var nodes = [], i = 0;

      function recurse(node) {
        if (node.children) node.size = node.children.reduce(function(p, v) { return p + recurse(v); }, 0);
        if (!node.id) node.id = ++i;
        nodes.push(node);
        return node.size;
      }

      root.size = recurse(root);
      return nodes;
    }
 </script>
 -->

 <script>

 // $(document).ready(function(){
 //    var w = 700,
 //        h = 600;

 //    var nodes = d3.range(200).map(function() { return {radius: Math.random() * 12 + 4}; }),
 //        color = d3.scale.category10();

 //    var force = d3.layout.force()
 //        .gravity(0.05)
 //        .charge(function(d, i) { return i ? 0 : -2000; })
 //        .nodes(nodes)
 //        .size([w, h]);

 //    var root = nodes[0];
 //    root.radius = 0;
 //    root.fixed = true;

 //    force.start();

 //    var svg = d3.select(".article-content").append("svg:svg")
 //        .attr("width", w)
 //        .attr("height", h);

 //    svg.selectAll("circle")
 //        .data(nodes.slice(1))
 //      .enter().append("svg:circle")
 //        .attr("r", function(d) { return d.radius - 2; })
 //        .style("fill", function(d, i) { return color(i % 3); });

 //    force.on("tick", function(e) {
 //      var q = d3.geom.quadtree(nodes),
 //          i = 0,
 //          n = nodes.length;

 //      while (++i < n) {
 //        q.visit(collide(nodes[i]));
 //      }

 //      svg.selectAll("circle")
 //          .attr("cx", function(d) { return d.x; })
 //          .attr("cy", function(d) { return d.y; });
 //    });

 //    svg.on("mousemove", function() {
 //      var p1 = d3.mouse(this);
 //      root.px = p1[0];
 //      root.py = p1[1];
 //      force.resume();
 //    });

 //    function collide(node) {
 //      var r = node.radius + 16,
 //          nx1 = node.x - r,
 //          nx2 = node.x + r,
 //          ny1 = node.y - r,
 //          ny2 = node.y + r;
 //      return function(quad, x1, y1, x2, y2) {
 //        if (quad.point && (quad.point !== node)) {
 //          var x = node.x - quad.point.x,
 //              y = node.y - quad.point.y,
 //              l = Math.sqrt(x * x + y * y),
 //              r = node.radius + quad.point.radius;
 //          if (l < r) {
 //            l = (l - r) / l * .5;
 //            node.x -= x *= l;
 //            node.y -= y *= l;
 //            quad.point.x += x;
 //            quad.point.y += y;
 //          }
 //        }
 //        return x1 > nx2
 //            || x2 < nx1
 //            || y1 > ny2
 //            || y2 < ny1;
 //      };
 //    }

 // });


 </script>
<% } %>

<!-- Totop Begin -->
<%- partial('totop') %>
<!-- Totop End -->

<!-- MathJax Begin -->
<%- partial('mathjax') %>
<!-- MathJax End -->

<!-- Tiny_search Begin -->
<%- partial('tinysou_search') %>
<!-- Tiny_search End -->
